%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel: "stylesheet"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{src: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}

    %title HDMI Control
  %body
    .container
      %h1 HDMI Control
      .row
        .col-md-9
        .col-md-3
          = haml :button, locals: {input: 'Power', set: '10', html_class: 'btn-danger'}
      .row
        - @outputs.each do |output|
          %div{class: @column_class}
            .panel.panel-default
              .panel-heading
                = output.name
              .panel-body
                - @inputs.each do |input|
                  = haml :button, locals: {input: input.name, set: "#{output.id}#{input.id}"}
